* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  border-color: transparent;
  border: none;
  background-color: transparent;
}
body {
  background: #ebebeb;
}
.contain {
  position: fixed;
}
.btn {
  position: fixed;
  top: 2rem;
  right: 3rem;
  color: #de4e4f;
}
.list {
  list-style: none;
  padding: 20px;
  gap: 50px;
  line-height: 60px;
}
.sidebar {
  position: fixed;
  background-color: #ffffff;
  height: 100%;
  transform: translate("-%100");
  transition: all 1s linear;
  padding: 20px;
}
li {
  color: #918a80;
  font-size: 24px;
}
